.header {
  margin-top: 5%;
}

.intro-page .row {
  margin-bottom: 10%;
}

.intro-header .young-kevin-wrapper {
  margin-top: 10%;
}

.header .img-wrapper {
  margin-top: 10%;
  /*margin-top: 5%;*/
}

.header .texas-wrapper {
  margin-top: 5%;
}

.header .web-dev-wrapper {
  margin-top: 5%;
}

.header .bikes-wrapper {
  margin-top: 5%;
}

.header .collision-wrapper {
  margin-top: 5%;
}

.header .cat-wrapper {
  margin-top: 5%;
}

.texas-page .footer {
  margin-top: 5%;
}

.footer {
  margin-top: 5%;
}

.intro-page .footer {
  margin-top: 0;
}

.travel-header .travel-wrapper {
  margin-top: 5%;
}

.header .img-wrapper .young-kevin {
  transform: rotate(90deg);
}

.header .img-wrapper img {
  max-width: 100%;
}

.header .bikes-wrapper img {
  padding-bottom: 5%;
}

.header .kevin-car-wrapper {
  margin-top: 3%;
}

.header .symbol {
  margin-top: 7%;
}

.footer {
  width: 75%;
}

.intro-page .footer .front-page-button {

}
